body {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}


#title {
}

#canvas {
    position: fixed;
    left: 50px;
    border-radius: 5px;
}
