#canvas {
    border-radius: 5px;
    margin-top: 20px;
}

#title {
    margin-top: 34px;
    font-size: 32px;
    display: block;
    margin-bottom: 9px;
    letter-spacing: -1px;
}

#control_bottons {
    margin: 10px;
}

#status {
    margin: 10px;
    padding: 15px;
    text-align: center;
}

footer {
    margin-left: -150px;
    text-align: center;
}
